<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Admin home Page</title>
 <link
      href="https://fonts.googleapis.com/css2?family=Rubik:wght@400;500;600;700&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="./style.css" />
</head>
<body>
	<main>
      <section class="section-adminhome">
        <div class="Adminhome-Conatainer">
          <div>
            <h1 class="Adminhome-primary-heading">
              Welcome to
              <img src="./images/logo.png" alt="Music-Hub Logo" />
            </h1>
          </div>

          <div class="Adminhome-btns">
            <div class="first-grid-box">
              <a href="/map-songs" class="btnclick btnclick1">Add Song</a>
              <a href="createPlayListAdmin" class="btnclick btnclick1"
                >Create PlayList</a
              >
            </div>

            <div class="second-grid-box">
              <a href="/viewSongsAdminHome" class="btnclick btnclick1">View Songs</a>
              <a href="viewPlayListAdmin" class="btnclick btnclick1"
                >View PlayList</a
              >
              <a href="paticularCustomerPlayListViews" class="btnclick btnclick1"
                >View-PlayList-Customer</a
              >
            </div>
          </div>
        </div>
      </section>
    </main>
</body>
</html>
