<!-- <!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
</head>
<body>
	<h2>Incorrect Email Id or Password. please try again....</h2>
		<form action="login" method="post">
		<h1>Login </h1>
		<label>Email ID : </label>
		<input type="email" name="email">
		<br><br>
		
		<label>Password : </label>
		<input type="password" name="password">
		<br><br>
		
		<input type="submit" value="LOGIN">
	</form>
</body>
</html>
 -->


<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Login Fail</title>
<link
      href="https://fonts.googleapis.com/css2?family=Rubik:wght@400;500;600;700&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="./style.css" />
</head>
<body>
	 <main>
      <section class="section-logoutsuccess">
        <div class="logoutsucess-container">
          <h1 class="login-fail-pr-heading">
            Invalid Email Id or Password
          <h2 class="heading-secondary login-fail-sc-heading">Please Try Again !</h2>
          <form action="/map-login" class="payment-form">
            <button
              type="submit"
              class="buy-button btn btn--full logoutsuccessfully-btn"
            >
              Ok
            </button>
          </form>
        </div>
      </section>
    </main>
</body>
</html>
