<!-- <!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
</head>
<body>
	<form action="/register" method="post">
		<label>Username : </label>
		<input type="text" name="username">
		<br><br>
		
		<label>Email ID : </label>
		<input type="email" name="email">
		<br><br>
		
		<label>Password : </label>
		<input type="password" name="password">
		<br><br>
		
		<label>Gender : </label>
		<input type="radio" name="gender" value="male">
		<label>Male</label>
		<input type="radio" name="gender" value="female">
		<label>Female</label>
		<input type="radio" name="gender" value="other">
		<label>Others</label>
		<br><br>
		
		<label>Role : </label>
		<input type="radio" name="role" value="admin">
		<label>Admin</label>
		<input type="radio" name="role" value="user">
		<label>Customer</label>
		<br><br>
		
		<label>Address : </label>
		<textarea name="address"></textarea>
		<br><br>
		
		<input type="submit" value="REGISTER">
	
	</form>
</body>
</html>
 -->

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Registation</title>
    <link
      href="https://fonts.googleapis.com/css2?family=Rubik:wght@400;500;600;700&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="./style.css" />
  </head>
  <body>
    <main>
      <section class="section-registation">
        <div class="register-container">
          <div class="register-form-box">
            <div>
              <h1 class="heading-primary">
                Welcome To<img
                  src="./images/logo.png"
                  alt="Music-Hub Logo"
                />
              </h1>
              <h2 class="heading-secondary">Please continue to Registation</h2>
            </div>
            <form class="register-form" action="/register" method="post">
              <div>
                <label>Username : </label>
				<input type="text" 
					name="username"
                  	class="input"
                  	required="required"
                  	placeholder="Username"
                />
              </div>

              <div>
                <label>Email ID : </label>
				<input type="email" 
				  name="email"
                  class="input"
                  required="required"
                  placeholder="Emil ID"
                />
              </div>

              <div>
                <label>Password : </label>
				<input type="password" 
				  name="password"
                  class="input"
                  required="required"
                  placeholder="Password"
                />
              </div>

              <div>
                <label>Role : </label>
                <div class="radio-container">
                  <div class="radio">
                    <input type="radio" 
                      name="role" 
                      value="admin"
                      class="radio-smb"
                    /><label> Admin</label>
                  </div>
                  <div class="radio">
                    <input 
                      type="radio" 
                      name="role" 
                      value="user"
                      class="radio-smb"
                    /><label>Customer</label>
                  </div>
                </div>
              </div>

              <div>
                <label>Gender : </label>
                <div class="radio-container">
                  <div class="radio">
                    <input type="radio" 
                      name="gender" 
                      value="male"
                      class="radio-smb"
                    /><label>Male</label>
                  </div>
                  <div class="radio">
                    <input type="radio" 
                    	name="gender" 
                    	value="female"
                        class="radio-smb"
                    /><label>Female</label>
                  </div>
                  <div class="radio">
                    <input type="radio" 
                      name="gender" 
                      value="other"
                      class="radio-smb"
                    /><label>Other</label>
                  </div>
                </div>
              </div>
              <div>
                <label>Address : </label>
                <textarea name="address"></textarea>
              </div>
              <!-- <div class="btn-register"> -->
              <button class="btn btn--full btn-register">REGISTER</button>
              <!-- </div> -->
            </form>
          </div>

          <div
            class="register-img-box"
            role="img"
            aria-label="Woman enjoying food"
          ></div>
        </div>
      </section>
    </main>
  </body>
</html>
