<!-- <!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Search Perticular Customer</title>
</head>
<body>
	<form action="viewPlayListParticularCustomer">
		<label>Name</label>
		<input type="email" name="email" required="required" placeholder="Enter Email"/>
		<button>Search</button>
	</form>
</body>
</html>
-->


<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Search Particular Customer PlayList</title>
<link
      href="https://fonts.googleapis.com/css2?family=Rubik:wght@400;500;600;700&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="./style.css" />
</head>
<body>
	<main>
      <section class="section-logoutsuccess">
        <div class="particularcustomer-container">
          <h1 class="login-fail-pr-heading">
           Search Particular Customer PlayList
          <form action="viewPlayListParticularCustomer" class="Customer-form">
            <label>Customer Email ID</label>
            <input 
            	type="email" 
            	name="email" 
            	required="required" 
            	placeholder="Enter Email"/>
            />
            <div class="particularcustomer-btn">
              <button
                type="submit"
                class="buy-button btn btn--full particular-btn"
              >
                Search
              </button>
            </div>
            
          </form>
        </div>
      </section>
    </main>
</body>
</html>
