<!DOCTYPE html>
<html>
<!-- <head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
</head>
<body>
	<h2>Song Is already Added!!</h2>
	
	<form action="/addsongs" method="post">
		<label>Song Name</label>
		<input type="text" name="name"/>
		<br><br>
		
		<label>Song Artist</label>
		<input type="text" name="artist"/>
		<br><br>
		
		<label>Song Genre</label>
		<input type="text" name="genre"/>
		<br><br>
		
		<label>Song Link</label>
		<input type="text" name="link"/>
		<br><br>
		
		<input type="submit" value="ADD SONGS"/>
	</form>
</body>
</html>
 -->


<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Song Add Unsuccessfully</title>
<link
      href="https://fonts.googleapis.com/css2?family=Rubik:wght@400;500;600;700&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="./style.css" />
</head>
<body>	
	 <main>
      <section class="section-logoutsuccess">
        <div class="registation-fail-container">
          <h1 class="login-fail-pr-heading">
           Song is Already Exist ........
          <h2 class="heading-secondary login-fail-sc-heading">Please Try With Another Song !</h2>
          <form action="/map-songs" class="payment-form">
            <button
              type="submit"
              class="buy-button btn btn--full logoutsuccessfully-btn"
            >
              Ok
            </button>
          </form>
        </div>
      </section>
    </main>
</body>
</html>
