<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>VIEW SONGS</title>
</head>
<body>
	<h1>Songs Are....</h1>
	<table border>
		<thead>
			<th>Sr. No</th>
			<th>Song Name</th>
			<th>Song Artist</th>
			<th>Song Genre</th>
			<th>Song Link</th>
		</thead>
		<tbody>
			<tr th:each = "songList :${songList}">
			<td th:text = ${songList.id}></td>
			<td th:text = ${songList.name}></td>
			<td th:text = ${songList.artist}></td>
			<td th:text = ${songList.genre}></td>
			
			<td><audio controls>
				<source th:src = ${songList.link} type = "audio/mpeg">
			</audio>
			</td>
			</tr>
		</tbody>
	</table>
</body>
</html>