<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
</head>
<body>
	<h1>Playlists Are....</h1>
	<table border="2">
		<thead>
			<th>Sr. No</th>
			<th>PlayList Name</th>
			<th>PlayList Songs</th>
		</thead>
		<tbody>
			<tr th:each = "playlist :${plist}">
			<td th:text = "${playlist.id}"></td>
			<td th:text = "${playlist.name}"></td>
			<td>
				<ul>
					<li th:each = "s:${playlist.songs}">
						<audio controls>
							<source th:src = "${s.link}" type = "audio/mpeg">
						</audio>
					</li>
				</ul>
			</td>
				
			
			</tr>
		</tbody>
	</table>
</body>
</html>